@model SensoStatWeb.WebApplication.ViewModels.SurveyViewModel


<form class="surveyCreationDetailParent" asp-action="editSurvey" asp-controller="survey">

    <input asp-for="@Model.Survey.Name" type="hidden" />
    <input asp-for="@Model.Survey.Id" type="hidden" />

    <div class="titleSurvey">
        <h1 class="Title">Nom séance : <span>@Model.Survey.Name</span></h1>
        <h2>Status : <i class="fas fa-circle blueCircle"></i></h2>
    </div>

    <section class="surveyButtons" style="margin-top: 20px; margin-bottom: 20px">
            <button onclick="addInput('Introduction')" class="orangeRoundedButton doubleButton newBienvenue">Message de bienvenue</button>
            <button onclick="addInput('Instruction')" class="orangeRoundedButton doubleButton newInstQuest">Nouvelle instruction</button>
            <button onclick="addInput('Question')" class="orangeRoundedButton doubleButton newInstQuest">Nouvelle question</button>
    </section>

    <input value="" type="hidden" name="orderInputs" id="orderInputs" />

    <ul id="sortlist">
        @foreach (var questionInstruction in Model.QuestionsInstructions)
        {
            <li class="roundedOrangeInput bigInput">
                <input name="inputListPosition" value="@questionInstruction.Title" type="hidden"/>
                <p style="margin-top:auto;margin-bottom:auto">@questionInstruction.Title : </p>
                <input value="@questionInstruction.Libelle" name="inputQuestionInstruction" placeholder="Ajouter une @questionInstruction.Title" />

                @if (questionInstruction.Title != "Conclusion" && !(questionInstruction.Title == "Introduction" && questionInstruction.Position == 1))
                {
                    <i onclick="deleteInput(this)" name="questionsInstructionsBin" class="fas fa-trash-alt"></i>
                }
            </li>
        }
    </ul>

    <section class="surveyButtons" style="margin-top: 20px;">
        <button class="orangeRoundedButton doubleButton">Déployer séance</button>
        <button class="orangeRoundedButton doubleButton">Supprimer le déploiement</button>
        <button class="orangeRoundedButton doubleButton">Télécharger les liens</button>

        <button class="orangeRoundedButton doubleButton">Télécharger données</button>
        <button class="orangeRoundedButton doubleButton">Supprimer la séance</button>
    </section>

    <div style="margin-top: auto; width: 100%;" class="spacedButtons">
        <a asp-controller="surveys" asp-action="" style="background-color:transparent;color:#FF9D0A" class="orangeRoundedButton">Retour</a>
        <input type="submit" class="orangeRoundedButton" value="Créer" />
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            slist();
        });
    </script>
</form>